/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/
/* Table of Contents
==================================================
    #Base 960 Grid
    #Tablet (Portrait)
    #Mobile (Portrait)
    #Mobile (Landscape)
    #Clearing */
/* #Base 960 Grid
================================================== */
.row-fluid {
  width: 100%;
  *zoom: 1;
}
.row-fluid:before,
.row-fluid:after {
  display: table;
  content: "";
  line-height: 0;
}
.row-fluid:after {
  clear: both;
}
.row-fluid [class*="span"] {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  margin-left: 1.6666666666666667%;
  *margin-left: 1.6145833333333335%;
}
.alpha,
.row-fluid [class*="span"]:first-child {
  margin-left: 0 !important;
}
.row-fluid .controls-row [class*="span"] + [class*="span"] {
  margin-left: 1.6666666666666667%;
}
.row-fluid .span16 {
  width: 100%;
  *width: 99.94791666666667%;
}
.row-fluid .span15 {
  width: 93.64583333333334%;
  *width: 93.59375000000001%;
}
.row-fluid .span14 {
  width: 87.29166666666667%;
  *width: 87.23958333333334%;
}
.row-fluid .span13 {
  width: 80.9375%;
  *width: 80.88541666666667%;
}
.row-fluid .span12 {
  width: 74.58333333333334%;
  *width: 74.53125000000001%;
}
.row-fluid .span11 {
  width: 68.22916666666667%;
  *width: 68.17708333333334%;
}
.row-fluid .span10 {
  width: 61.875%;
  *width: 61.822916666666664%;
}
.row-fluid .span9 {
  width: 55.520833333333336%;
  *width: 55.46875%;
}
.row-fluid .span8 {
  width: 49.16666666666667%;
  *width: 49.114583333333336%;
}
.row-fluid .span7 {
  width: 42.8125%;
  *width: 42.760416666666664%;
}
.row-fluid .span6 {
  width: 36.458333333333336%;
  *width: 36.40625%;
}
.row-fluid .span5 {
  width: 30.104166666666668%;
  *width: 30.052083333333336%;
}
.row-fluid .span4 {
  width: 23.75%;
  *width: 23.697916666666668%;
}
.row-fluid .span3 {
  width: 17.395833333333332%;
  *width: 17.34375%;
}
.row-fluid .span2 {
  width: 11.041666666666666%;
  *width: 10.989583333333332%;
}
.row-fluid .span1 {
  width: 4.6875%;
  *width: 4.635416666666667%;
}
/* utilities */
.builder-hide {
  display: none;
}
.thide {
  text-indent: -9999px;
  font-size: 0;
}
.tc {
  text-align: center;
}
/* builder icons */
.builder-content [class^="module-icon-"],
.builder-content [class*=" module-icon-"] {
  background-image: url('../img/module-icons-white.png');
}
.builder-content [class^="module-icon-"]:hover,
.builder-content [class*=" module-icon-"]:hover {
  background-image: url('../img/module-icons-black.png');
}
/* builder */
.builder_enabled #post-body-content #postdiv,
.builder_enabled #post-body-content #postdivrich {
  display: none;
}
#builder {
  min-width: 500px;
}
#builder-data {
  display: none;
  margin-bottom: 20px;
}
/* header masthead tabs */
#builder-tabs h2.nav-tab-wrapper {
  margin: 0 0 20px;
  padding: 0 0 0 6px;
  border-bottom: 1px solid #ccc;
}
#builder-tabs h2.nav-tab-wrapper .nav-tab {
  padding: 4px 10px 6px;
  margin: 0 3px -1px 0;
  font-size: 18px;
  vertical-align: top;
  color: #0074a2;
  border: none;
  border-bottom: 1px solid #ccc;
}
#builder-tabs h2.nav-tab-wrapper .nav-tab:hover {
  color: #fff;
}
#builder-tabs h2.nav-tab-wrapper .nav-tab-active {
  border: 1px solid #ccc;
  border-bottom-color: #eee;
  color: #464646;
  font-weight: bold;
  padding-top: 3px;
}
#builder-tabs h2.nav-tab-wrapper .nav-tab-active:hover {
  color: #464646;
}
/* header */
.builder-header {
  position: relative;
  z-index: 3;
  background-color: #4e4e4e;
  background-image: -moz-linear-gradient(top, #545454, #444444);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#545454), to(#444444));
  background-image: -webkit-linear-gradient(top, #545454, #444444);
  background-image: -o-linear-gradient(top, #545454, #444444);
  background-image: linear-gradient(to bottom, #545454, #444444);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff545454', endColorstr='#ff444444', GradientType=0);
  *background-color: #444;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  -webkit-box-shadow: 0 0 0 1px #414141;
  -moz-box-shadow: 0 0 0 1px #414141;
  box-shadow: 0 0 0 1px #414141;
}
#builder .builder-header h2 {
  margin: 0;
  padding: 20px 0 20px 15px;
  float: left;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  line-height: 1;
}
.builder-options {
  float: right;
  margin: 21px 15px 0;
  position: relative;
}
#builder-option-list {
  background: #262626;
  display: none;
  font-size: 11px;
  padding: 5px 0;
  position: absolute;
  right: -7px;
  top: 25px;
  white-space: nowrap;
  z-index: 99;
  margin: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
#builder-option-list:after {
  content: "";
  position: absolute;
  left: 69%;
  width: 0;
  height: 0;
  bottom: auto;
  top: -7px;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #242424;
}
#builder-option-list li {
  margin: 0;
}
#builder-option-list a,
#builder-option-list a:visited {
  color: #ccc;
  display: block;
  padding: 2px 9px;
  text-decoration: none;
}
#builder-option-list a:focus,
#builder-option-list a:hover {
  background-color: #454545;
  color: #ccc;
}
#builder-messages {
  float: right;
  margin-top: 20px;
}
#builder-messages .message-content {
  color: #999;
  display: block;
  font-size: 10px;
  font-weight: bold;
  padding: 0 0 0 15px;
  white-space: nowrap;
}
#builder-messages.message-loading .message-content {
  background: url(../img/ajax-loader.gif) 4px center no-repeat;
  padding-left: 24px;
}
#builder-messages.message-confirm .message-content {
  background: url(../img/message-confirm.gif) 0 center no-repeat;
}
#builder-messages.message-error .message-content {
  background: url(../img/message-error.gif) 3px center no-repeat;
}
#builder-messages.message-info .message-content,
#builder-messages.message-warning .message-content {
  background: url(../img/message-warning.gif) 6px center no-repeat;
}
/* footer */
.builder-footer {
  position: relative;
  z-index: 3;
  padding: 10px 20px;
  background-color: #4e4e4e;
  background-image: -moz-linear-gradient(top, #545454, #444444);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#545454), to(#444444));
  background-image: -webkit-linear-gradient(top, #545454, #444444);
  background-image: -o-linear-gradient(top, #545454, #444444);
  background-image: linear-gradient(to bottom, #545454, #444444);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff545454', endColorstr='#ff444444', GradientType=0);
  *background-color: #444;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
  -webkit-box-shadow: 0 0 0 1px #414141;
  -moz-box-shadow: 0 0 0 1px #414141;
  box-shadow: 0 0 0 1px #414141;
}
#builder-media-toolbar {
  margin-top: 20px;
}
/* drawer */
.builder-drawer {
  position: relative;
  z-index: 3;
  padding: 30px 20px 20px;
  display: none;
  background-color: #4e4e4e;
  background-image: -moz-linear-gradient(top, #545454, #444444);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#545454), to(#444444));
  background-image: -webkit-linear-gradient(top, #545454, #444444);
  background-image: -o-linear-gradient(top, #545454, #444444);
  background-image: linear-gradient(to bottom, #545454, #444444);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff545454', endColorstr='#ff444444', GradientType=0);
  *background-color: #444;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  -webkit-box-shadow: 0 0 0 1px #414141, inset 0 4px 6px #333333;
  -moz-box-shadow: 0 0 0 1px #414141, inset 0 4px 6px #333333;
  box-shadow: 0 0 0 1px #414141, inset 0 4px 6px #333333;
}
.drawer-wrapper {
  border: 1px dashed #A0A0A0;
  padding: 20px 20px 5px;
  position: relative;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.drawer-wrapper label {
  background: #515151;
  color: #ccc;
  padding: 2px 5px;
  position: absolute;
  top: -12px;
  font-weight: bold;
  font-size: 10px;
}
/* content */
.builder-content {
  border: solid #929292;
  border-width: 2px 0;
  position: relative;
  z-index: 1;
  min-height: 200px;
  background-color: #777;
  padding: 20px;
  -webkit-box-shadow: 0 0 0 1px #414141;
  -moz-box-shadow: 0 0 0 1px #414141;
  box-shadow: 0 0 0 1px #414141;
}
.builder-content .drawer-wrapper {
  padding: 15px;
}
.builder-content .drawer-wrapper label {
  background: #777;
  font-size: 12px;
  padding: 2px 8px;
  left: 15px;
}
/* welcome container */
#welcome-container {
  position: relative;
}
#welcome-container #welcome-teaser {
  top: 50%;
  left: 50%;
  margin: -96px auto 0 -250px;
  position: absolute;
  width: 480px;
  z-index: 10;
}
#welcome-container #welcome-teaser .builder-popup-content {
  padding: 20px 15px;
  font-size: 13px;
  line-height: 16px;
  color: #222;
}
#welcome-container #welcome-teaser .builder-popup-content .wp_themeSkin iframe {
  background: #fff;
}
#welcome-container #welcome-teaser .button-green {
  padding: 5px 10px;
}
#welcome-container .row-presentation-module {
  border: 2px dashed #ddd;
  height: 78px;
  margin: 5px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
/* draggable placeholders */
.builder-row-draggable-placeholder {
  background: #666;
  margin: 0 0 5px;
  border: 1px dashed #999;
  border-radius: 4px;
  padding: 2px;
}
.builder-module-draggable-placeholder {
  background: #666;
  border: 1px dashed #555;
  margin-bottom: 4px;
  padding: 3px;
  z-index: 5;
  border-radius: 6px;
}
/* loader overlay */
.builder-reorder-status,
.builder-reorder-overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  height: 100%;
  overflow: hidden;
  width: 100%;
  border-radius: 6px;
}
.builder-reorder-overlay {
  background: black;
  opacity: 0.8;
}
#builder-spinner-dialog {
  background: #030303;
  border-radius: 6px;
  display: block;
  width: 80px;
  height: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -40px 0 0 -40px;
  z-index: 99;
}
.builder-popup-spinner {
  display: block;
  background: url(../img/ajax-loader-dark.gif) center no-repeat;
  width: 100%;
  height: 100%;
  text-indent: -999px;
}
/* popup */
.builder-popup {
  background: rgba(36, 36, 36, 0.8);
  *background: #242424;
  padding: 7px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  /* error popup */

}
.builder-popup.error-popup .builder-popup-header {
  background-color: #eb5252;
  background-image: -moz-linear-gradient(top, #ff8888, #cc0000);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ff8888), to(#cc0000));
  background-image: -webkit-linear-gradient(top, #ff8888, #cc0000);
  background-image: -o-linear-gradient(top, #ff8888, #cc0000);
  background-image: linear-gradient(to bottom, #ff8888, #cc0000);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff8888', endColorstr='#ffcc0000', GradientType=0);
  *background-color: #ff8888;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.builder-popup-header {
  position: relative;
  z-index: 3;
  background-color: #52a0e6;
  background-image: -moz-linear-gradient(top, #64b7ed, #387ddc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#64b7ed), to(#387ddc));
  background-image: -webkit-linear-gradient(top, #64b7ed, #387ddc);
  background-image: -o-linear-gradient(top, #64b7ed, #387ddc);
  background-image: linear-gradient(to bottom, #64b7ed, #387ddc);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff64b7ed', endColorstr='#ff387ddc', GradientType=0);
  *background-color: #387DDC;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  -webkit-box-shadow: 0 -2px 12px #113247;
  -moz-box-shadow: 0 -2px 12px #113247;
  box-shadow: 0 -2px 12px #113247;
  padding: 9px 12px;
}
.builder-popup-header h2 {
  color: #fff !important;
  font: italic normal normal 18px/1.2 Georgia, 'Times New Roman', 'Bitstream Charter', Times, serif;
  margin: 5px 0 2px !important;
  text-shadow: none;
}
.builder-popup-header p {
  margin: 0 0 1em;
  font-size: 12px;
  color: #EEE;
  text-shadow: none;
  font-weight: bold;
}
.builder-popup-content {
  padding: 15px 12px;
  position: relative;
  max-height: 420px;
  overflow-y: auto;
  background-color: #e7e7e7;
  background-image: -moz-linear-gradient(top, #ededed, #dddddd);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ededed), to(#dddddd));
  background-image: -webkit-linear-gradient(top, #ededed, #dddddd);
  background-image: -o-linear-gradient(top, #ededed, #dddddd);
  background-image: linear-gradient(to bottom, #ededed, #dddddd);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffededed', endColorstr='#ffdddddd', GradientType=0);
  *background-color: #ddd;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.builder-popup-content p:first-child {
  margin-top: 0;
}
.builder-popup-footer {
  background: #2a2a2a;
  border-bottom: 1px solid #363636;
  border-top: 1px solid #292929;
  color: #999;
  line-height: 24px;
  padding: 7px 12px;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
}
.builder-popup-footer a,
.builder-popup-footer a:visited {
  color: #bbb;
  text-decoration: none;
}
.builder-popup-footer:focus,
.builder-popup-footer:hover,
.builder-popup-footer:active {
  color: #ddd;
}
.builder-popup-footer .builder-popup-activity {
  background: url(../img/ajax-loader-dark.gif) 0 center no-repeat;
  margin: 0 5px;
  padding-left: 20px;
  float: right;
}
#builder-popup-overlay {
  background: #000;
}
.simplemodal-wrap {
  overflow: visible;
}
.builder-ajax-error-string {
  white-space: pre-line;
}
/* row container */
#builder-sortables-container {
  position: relative;
}
/* row selector */
#builder-column-select.drawer-wrapper {
  padding: 20px 20px 5px;
}
#builder-column-select.drawer-wrapper label {
  background: #515151;
  padding: 2px 5px;
  font-size: 10px;
}
#builder-row-select ul,
#builder-column-select ul {
  margin: 0 0 0 -13px;
  float: left;
  width: 100%;
}
#builder-row-select ul li,
#builder-column-select ul li {
  float: left;
  margin: 0 0 15px 13px;
}
#builder-row-select ul li a,
#builder-column-select ul li a {
  display: block;
  text-align: center;
  text-decoration: none;
  position: relative;
}
#builder-row-select ul li a img,
#builder-column-select ul li a img {
  display: block;
  padding: 5px;
  background: #f9f9f9;
  width: 60px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.61);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.61);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.61);
}
#builder-row-select ul li a strong,
#builder-column-select ul li a strong {
  color: #fff;
  display: none;
  background: #333;
  line-height: 60px;
  font-size: 10px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -moz-opacity: 0.8;
  -khtml-opacity: 0.8;
  -webkit-opacity: 0.8;
  opacity: 0.8;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
#builder-row-select ul li a:hover strong,
#builder-column-select ul li a:hover strong {
  display: block;
}
/* row loader bar */
.rows-loader {
  display: none;
  background: #444444 url(../img/ajax-loader.gif) 50% 50% no-repeat;
  width: 100%;
  height: 100px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
/* column loader bar */
#columns-loader {
  background: transparent url(../img/ajax-loader.gif) 50% 50% no-repeat;
  width: 14px;
  height: 14px;
  position: absolute;
  top: 8px;
}
/* row */
.builder-row {
  background: #616161;
  border: 1px solid #5A5A5A;
  position: relative;
  margin: 0 0 8px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.builder-row .row-header {
  background-color: #929292;
  background-image: -moz-linear-gradient(top, #999999, #888888);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#999999), to(#888888));
  background-image: -webkit-linear-gradient(top, #999999, #888888);
  background-image: -o-linear-gradient(top, #999999, #888888);
  background-image: linear-gradient(to bottom, #999999, #888888);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff999999', endColorstr='#ff888888', GradientType=0);
  *background-color: #989898;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 0 0 1px #999999;
  -moz-box-shadow: inset 0 0 0 1px #999999;
  box-shadow: inset 0 0 0 1px #999999;
  padding: 10px;
  position: relative;
}
.builder-row .row-header strong {
  color: #eee;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
  font-size: 13px;
}
.builder-row .row-header .toggle-row {
  display: block;
  position: absolute;
  top: 13px;
  right: 14px;
  width: 11px;
  height: 11px;
  background: url(../img/arrows-dark.png) no-repeat 0 -1px;
}
.builder-row .row-header .toggle-row:hover {
  background-image: url(../img/arrows.png);
}
.builder-row .row-toolbar {
  padding: 8px 10px 5px;
  background: #8F939C;
  text-align: right;
  border-bottom: 1px solid #555;
  position: relative;
}
.builder-row .row-toolbar a {
  text-decoration: none;
  color: #fff;
  padding-left: 15px;
}
.builder-row .row-toolbar a strong {
  font-size: 11px;
  text-shadow: 0 -1px 0 #000000;
}
.builder-row .row-body {
  padding: 4px 8px;
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
}
.builder-row .toggle-container {
  display: none;
}
.builder-row.active .row-header {
  box-shadow: none;
  border-bottom: 1px solid #6A6A6A;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}
.builder-row.active .row-header .toggle-row {
  background-position: 0 -36px;
}
.builder-row.active .toggle-container {
  display: block;
}
.ui-sortable .builder-row-handle {
  cursor: move;
}
/* columns */
.builder-row-column {
  color: #fff;
  margin-top: 5px;
  margin-bottom: 5px;
  border-collapse: collapse;
}
.builder-row-column.row-empty {
  min-height: 90px;
  border: 1px dashed #ddd;
  line-height: 90px;
  text-align: center;
  font-size: 16px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.builder-row-column .builder-row-column-data {
  min-height: 80px;
  padding: 4px;
  border: 1px solid #505050;
  background: #6D6D6D;
  border-bottom: 0;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}
.builder-row-column .builder-row-column-toolbar {
  background-color: #707070;
  background-image: -moz-linear-gradient(top, #767676, #666666);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#767676), to(#666666));
  background-image: -webkit-linear-gradient(top, #767676, #666666);
  background-image: -o-linear-gradient(top, #767676, #666666);
  background-image: linear-gradient(to bottom, #767676, #666666);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff767676', endColorstr='#ff666666', GradientType=0);
  *background-color: #989898;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border: 1px solid #505050;
  padding: 0 4px;
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
}
.builder-row-column .builder-row-column-toolbar a {
  color: #eee;
  text-decoration: none;
  font-size: 10px;
  line-height: 27px;
}
.builder-row-column .builder-row-column-toolbar a strong {
  padding-left: 5px;
  position: relative;
  top: 2px;
}
.builder-row-column .builder-column-sizer {
  float: right;
  display: none;
}
.builder-row-column .builder-column-sizer a {
  padding-left: 0;
}
.builder-row-column .builder-column-sizer span {
  position: relative;
  top: 2px;
  font-size: 10px;
  color: #eee;
}
/** module **/
.builder-module {
  background: #575757;
  margin: 0 0 4px;
  vertical-align: top;
  padding: 8px 15px;
  position: relative;
  min-height: 65px;
  border: 1px solid #4D4D4D;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.ui-sortable .builder-module {
  cursor: move;
}
.builder-module:hover {
  background: #484848;
  border-color: #444;
}
.builder-module .module-icon-widget {
  background-color: #303030;
  position: absolute;
  left: 10px;
  padding: 7px;
  vertical-align: middle;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.builder-module .builder-module-body {
  margin-top: -2px;
  padding-left: 40px;
}
.builder-module .builder-module-body strong.builder-module-title {
  color: #eee;
  display: block;
  font: italic normal normal 16px/1.2 Georgia;
  margin: 3px 0 0;
}
.builder-module .builder-module-body a {
  text-decoration: none;
  color: #ccc;
  font-size: 9px;
  text-transform: uppercase;
  padding-right: 10px;
  font-family: arial;
}
/* modules */
.module-list-head {
  color: #333;
  padding-bottom: 1px;
  border-bottom: 1px solid #999;
  font: italic normal normal 18px/1.2 Georgia, 'Times New Roman', 'Bitstream Charter', Times, serif;
  margin: 5px 0 2px;
  text-shadow: none;
}
.builder-module-list {
  margin: 10px 0;
  float: left;
  width: 100%;
}
.builder-module-list li.module-item {
  display: inline-block;
  margin: 0;
  vertical-align: top;
  width: 33%;
}
.builder-module-list a.builder-module-insert {
  color: #666;
  display: block;
  margin: 3px 3px 12px;
  min-height: 70px;
  overflow: hidden;
  padding-left: 40px;
  position: relative;
  text-decoration: none;
}
.builder-module-list a:hover .span.module-icon-widget {
  background-color: #c5c5c5;
}
.builder-module-list span.module-icon-widget {
  background-color: #CCC;
  border: 1px solid #BBB;
  border-color: #BBB #BBB #B0B0B0;
  left: 0;
  position: absolute;
  padding: 7px;
  vertical-align: middle;
  border-radius: 6px;
}
.builder-module-list strong.module-item-title {
  color: #333;
  display: block;
  font: italic normal normal 16px/1.2 Georgia;
  margin: 3px 0 0;
}
.builder-module-list span.module-item-description {
  font-size: 11px;
}
/* module ui */
.builder-sections [class^="span"] .section,
.builder-sections [class*=" span"] .section {
  border-bottom: 0;
  padding-bottom: 0;
}
.builder-sections [class^="span"] .section .controls,
.builder-sections [class*=" span"] .section .controls {
  width: 100%;
}
.builder-sections .section {
  border-color: #ccc;
}
.builder-sections .section.section-subheading {
  margin: 15px -12px;
}
.builder-sections .section-radio-img label.selected {
  background-color: #F4F4F4;
}
.builder-sections .chzn-container {
  background: none;
}
